
@{
    ViewData["Title"] = "OrderView";
    List<Order_List> list = ViewData["list"] as List<Order_List>;
    Order_Detail detail = ViewData["detail"] as Order_Detail;
}
<!-- orderview-main-area-start -->
<div class="cart-main-area mb-70 main-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>地址：@detail.Address</h2>
                <h2>配送：@(detail.Delivery == 1 ? "需要配送" : "到店自取")</h2>
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">图片</th>
                                    <th>名称</th>
                                    <th>价格</th>
                                    <th>数量</th>
                                    <th>小计</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Order_List item in list)
                                {
                                <tr>
                                    @if (item.Item_ID == 0)
                                    {
                                        <td>[商品已下架]</td>
                                        <td>[商品已下架]</td>
                                    }
                                    else
                                    {
                                        <td class="product-thumbnail"><img src="@item.Image_Url" /></td>
                                        <td><p>@item.Item_Name</p></td>
                                    }
                                    <td><p>@item.Order_Price</p></td>
                                    <td><p>@item.Quantity</p></td>
                                    <td><p>@(item.Order_Price * item.Quantity)</p></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- orderview-main-area-end -->