@{
    ViewData["Title"] = "UserInfoManage";
    User user = ViewData["userinfo"] as User;
    string formTitle = "";//表单标题
    string formActionLink = "";//表单提交地址
    string buttonTitle = "";//按钮名称
    bool editUser = false;

    if (user != null)
    {
        //修改用户信息
        formTitle = "修改用户信息";
        formActionLink = "/User/AlterUserInfo";
        buttonTitle = "修改";
        editUser = true;
    }
    else
    {
        //添加用户
        formTitle = "创建一个新用户";
        formActionLink = "/User/SignUp";
        buttonTitle = "添加";
        editUser = false;
        //创建默认信息
        user = new User();
    }
}
<div class="user-login-area main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-title text-center mb-30">
                    <h2>用户管理</h2>
                    <p>@formTitle</p>
                </div>
            </div>
            <form id="form-user-info-manage" onsubmit="return formUserInfoManage();">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="billing-fields">
                        <input type="hidden" value="@user.User_ID" name="userId"/>
                        <div class="single-form-item">
                            <label>用户名<span>*</span></label>
                            @if (editUser)
                            {
                                <input type="text" value="@user.User_Name" placeholder="不可修改" disabled />
                            }
                            else
                            {
                                <input type="text" value="@user.User_Name" placeholder="请输入用户名" name="name" required />
                            }
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-form-item">
                                    <label>姓<span>*</span></label>
                                    <input type="text" value="@user.Last_Name" placeholder="姓氏" name="lastName" required />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-form-item">
                                    <label>名<span>*</span></label>
                                    <input type="text" value="@user.First_Name" placeholder="名字" name="firstName" required />
                                </div>
                            </div>
                        </div>

                        <div class="single-form-item">
                            <label>收货地址<span>*</span></label>
                            <input type="text" value="@user.Address" placeholder="请输入收货地址" name="address" required />
                        </div>

                        <div class="single-form-item">
                            <label>电子邮件<span>*</span></label>
                            <input type="email" value="@user.Email" placeholder="请输入电子邮件" name="email" required />
                        </div>
                        <!--新增用户时才会要求必须输入密码-->
                        <div class="single-form-item">
                            <label>密码<span>*</span></label>
                            <input type="password" placeholder="" @(user.User_ID == 0 ? "required" : "") oninput="checkPassword()" id="tbx-password" />
                        </div>
                        <div class="single-form-item">
                            <label>确认密码<span>*</span></label>
                            <input type="password" placeholder="" name="password" @(user.User_ID == 0 ? "required" : "") oninput="checkPassword()" id="tbx-repassword" />
                        </div>
                        <div class="single-form-item">
                            <a href="#" onclick="$('#submit').click();">@buttonTitle</a>
                            <input type="submit" id="submit" style="display:none" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function checkPassword() {
        var password = document.getElementById("tbx-password");
        var re_password = document.getElementById("tbx-repassword");
        if (password.value === re_password.value) {
            re_password.setCustomValidity('');
        } else {
            re_password.setCustomValidity('两次输入的密码不相同');
        }
    }

    function formUserInfoManage() {
        var submit = $("#form-user-info-manage").serialize();
        $.post("@formActionLink", submit, function (data) {
            var data = JSON.parse(data);
            alert(data.message);
            if (data.status) {
                location.reload();
            }
        });
        return false;
    }
</script>
<!-- user-login-area-end -->